
.font-raleway {

}
header {


    justify-content: space-around;

}
nav {
    list-style: none;
    overflow:hidden;
    float: right;
}

nav ul li {
    font-family: Raleway;
    font-size:20px;
    float:right;
    padding:20px 10px 2px 10px;
}

nav ul li a{
    text-decoration: none;
    color:#0000;
}

  nav ul li a:hover,
   nav ul li a:active{
    color:#339999 ;
}

li > a > img{
    width:25px;
    height:25px;
    margin: 0 0 0 0;
}

.banner {
      background-image: url(assets/images/banner-girl.png), url(assets/images/flower-bkgd.jpg);
      background-size: 20%, 100%;
      background-position: top, left;
      background-repeat: no-repeat, no-repeat;
      height: 50vw;
}

.logo{

align-items: left;
position: absolute;
    top: 20px;
    right: 0px;
    width: 0px;
    height: 100px;
}



h1 {
    flex-jus-cen;
    flex-ali-cen;
    color: white;
    font-weight: lighter;
    font-family: myFirstFont;
}

h2 {
    flex-jus-cen;
    align-items: center;
    color: white;
    font-size: 70px;
    font-weight: lighter;
    font-family: mySecondFont;
}

.description {
    
    text-align: center;
    background-color: white;
    font-family: myFirstFont;
    font-weight: lighter;
    color: #8e8b8b ;
    font-size: 20px;
}

h3 {

    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #FFFFFF ;
    font-family: myThirdFont;

}

.spacing {
    border-top: 2px solid #d4d7db ;
}

h4 {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: lighter;
    color: #F81133 ;
    border-top: 10px solid black;
    padding-top: 50px;
    font-family: myThirdFont;
}

.border {
    border: px dashed #8e8b8b ;
}

.clothing {
    align-items: center;
    flex-direction: row;
    text-align: center;
    align-content: space-around;
}

.ocean {
    align-items: center;
    background-image: url(assets/images/wave-bkgd.jpg);
    height: 350px;
    background-position: bottom;
    
}

h5 {
    align-items: center;
    color: #0000;
    font-size: 50px;
    font-weight: lighter;
    font-style: italic;
    font-family: myFourthFont;
}

div p {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: myFirstFont;
    font-weight: lighter;
    font-size: 20px;
}

.subscribe {
    justify-content: center;
    background-color: white;
    border-radius: 5%;
    width: 70%
}


#image
{
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;
    color:#0000;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}
.info{
  height: 400px;
  width: 400px;
  position: relative;
  color: #F81133
}

h6{
position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   font-size: 70px;
color:#0000
text-align:center;
text-shadow: 50;
}



.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
}

.button1 {
    background-color: red;
    color: white;
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 10px;
    width: 10%;
}

.moreinfo {
    justify-content: space-around;
    background-color: grey;
    color: white;
    width: 60%;
    padding: 80px 30px 80px 30px;
}


footer{
  padding:40px;
  margin-top:60px;
  color:#ffffff;
  background-color:#e8491d
  text-align: left;
